<div>
  <a class="btn btn-success" (click)="onEdit()">Edit</a>
  <a class="btn btn-danger" (click)="onDelete()">Delete</a>
</div>

<br>

<div class="list-group-item clearfix">
  <h2 class="list-group-item-heading">{{ movie.title }}</h2>

  <p>{{movie.description}}</p>

  <img [src]="movie.posterUrl" class="img-responsive" style="max-height: 100px">

  <h4 class="list-group-item-text">Director(s):</h4>
  <br>
  <ul class="list-group">
    <li style="display:inline;" class="list-group-item" *ngFor="let director of movie.directors">
      {{director.name}}
    </li>
  </ul>

  <h4 class="list-group-item-text">Writer(s):</h4>
  <br>
  <ul class="list-group">
    <li style="display:inline;" class="list-group-item"  *ngFor="let writer of movie.writers">
      {{writer.name}}
    </li>
  </ul>
  <br>
  <h4 class="list-group-item">
    Rated {{movie.rating}} | {{movie.releaseDate}} | {{movie.length}} min
  </h4>
  <ul class="list-group">
    <li style="display:inline;" class="list-group-item" *ngFor="let genre of movie.genres">
      {{genre.genre}}
    </li>
  </ul>
  <br>
</div>


